#authOptions button {
  color: white;
  margin: 8px;
  padding: 4px;
}

#authOptions button:hover {
  background-color: black;
}

#authOptions .username {
  margin: 0 8px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
