@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: #02627c;
  text-decoration: none;
}

a:hover {
  color: darkblue;
}

ul {
  margin-left: 1.5 rem;
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  color: unset;
  background: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 1em 0;
}

.page {
  margin: 0 8px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}
